﻿@model IEnumerable<PracticeProject.Models.SupportTicket>

@{
    ViewBag.Title = "Index";
}

<authorization>
    <deny users="?" />
</authorization>

<h2>Ticket Backlog</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportType)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeSubmited)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeSubmited)
        </td>
        <td> |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketsID })
        </td>
    </tr>
}

</table>
