﻿@model IEnumerable<PracticeProject.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeOfAccountCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserGUID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeOfAccountCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserGUID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsersID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsersID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsersID })
        </td>
    </tr>
}

</table>
