﻿@model PracticeProject.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeOfPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeOfPost)
        </dd>

    </dl>
</div>

@section PageScripts{
    <script type="text/javascript" src="~/Scripts/script.js"></script>
}


<p style="margin-left:10px; margin-top:6px;" id="tableResponse"></p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
